<div class="user-list">
  <div *ngFor="let user of users" class="user-card-container">

    <mat-card class="profile-card" (mouseenter)="hoveredUser = user" (mouseleave)="hoveredUser = null">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <img [src]="user.imageUrl" [alt]="user.firstName" />
        </div>
        <mat-card-title>{{ user.username }}</mat-card-title>
        <mat-card-subtitle>UUID: {{ user.uuid.substr(0, 3) }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button class="goBack" (click)="goBack('/users')" mat-flat-button>Go Back To Users</button>
        <form class="user-form">
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="{{ user.firstName }}" [value]="user.firstName" [disabled]="edit" required />
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="{{ user.lastName }}" [value]="user.lastName" [disabled]="edit" required />
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="{{ user.email }}" [value]="user.email" [disabled]="edit" required />
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" placeholder="{{ user.phone }}" [value]="user.phone" [disabled]="edit" required />
          </mat-form-field>

          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="{{ user.address }}" [value]="user.address" [disabled]="edit" required />
          </mat-form-field>
        </form>
      </mat-card-content>

      <!-- Card Footer with Action Buttons -->
      <mat-card-actions>
        <button mat-flat-button  (click)="enableEdit()" class="edit">Edit</button>
        <button mat-flat-button  (click)="saveChanges()" class="saveChanges">Save Changes</button>

      </mat-card-actions>

    </mat-card>

  </div>
</div>
